.button {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  border-radius: 12px;
  padding: 14px;
  max-height: 48px;
  background-color: #3470ff;
  transition: all 200ms ease-in-out;
  align-self: flex-end;

  &:hover,
  &:focus {
    background-color: #0b44cd;
    transform: scale(1.03);
  }
}
